
<footer>
    <div id='foot-left'>
        <p>Website design by alfalfa Technologies</p>
        <p id='credits'>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
    </div>
    <div id='foot-right'>
        <p><i class="far fa-copyright"></i> Copyright 2019</p>
    </div>
</footer>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://unpkg.com/aos@2.3.1/dist/aos.js'></script>
<!--<script src='/lib/lazy.js'></script>-->
<script>
    AOS.init();
</script>
</body>
</html>