<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Alf's Kitchen</title>
<link rel='stylesheet' type='text/css' href='/stylesheets/index.css'>
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="icon" type="image/png" href="/img/favicon.png">
<script defer src='/lib/lazy.js'></script>
</head>
<body>
    <header>
        <ul>
            <li id='brand'><a href='/'>Alf's Kitchen</a></li>
        </ul>
        <ul class='right'>
            <li><a href="/recipes">Recipes</a></li>
            <% if(!currentUser){ %>
            <li><a href="/subscribe">Subscribe</a></li>
            <% } else { %>
            <% var n = currentUser.username.indexOf('@'); %>
            <% var user = currentUser.username.slice(currentUser[0], n); %>
            <li><a class='user' href=""><%= user %></a><!--<i class="fas fa-sign-out-alt"></i>--></li>
            <li><a class='user' href="/logout">Logout</a><!--<i class="fas fa-sign-out-alt"></i>--></li>
            <% }; %>
        </ul>
    </header>