<% include partials/header %>

<div class='form-container'>
    <div class='form-header'>
        <h3>Subscribe</h3>
    </div>
    <form action='/subscribe' method='POST' id='user-form'>
        <input placeholder='Email' type='email' name='username'>
        <input placeholder='Password' type='password' name='password'>
        <input type='submit' value='Subscribe'>
    </form>
</div>

<% include partials/footer %>